extends ../_layouts/_default.pug

block Setting
  -
    head.title = 'WORKS';

block Styles
  style(type="text/css").
    .home-menu ul {
      left: unset;
      right: 1%;
    }

block Contents
  include ../_components/works/_slider.pug
  include ../_components/works/_modal.pug
