-
  const head = {
    title: ""
  };
  const paths = {
    root: ""
  }
  const global = htmlWebpackPlugin.options.data;
block Setting

doctype html
html(lang="ja")
  head
    include ../_components/layouts/_meta.pug
    +meta(head)
    include ../_components/layouts/_google.pug
    block Head
  body(class=head.title)
    include ../_components/layouts/_ui.pug
    +ui(paths)
    include ../_components/layouts/_global.pug
    include ../_components/layouts/_canvas.pug
    main.CONTENTS
      - if (head.title != 'HOME' && head.title != 'OPENING')
        h1.page-title ACCESS MEMORY - #{head.title}
      block Styles
      block Contents
    include ../_components/layouts/_scripts.pug
