@use "../../settings/settings.scss" as setting;
@use "sass:map";

#GLOBAL_WRAP {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  @include setting.scrollbar-none();
}
