@use "../../settings/settings.scss" as setting;
@use "sass:map";

.COMP-COLUMN-title-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 5%;

  @include setting.sp-layout() {
    width: 100%;
    margin-left: 0;
    flex-direction: column;
  }

  .title {
    @include setting.font_garamond($style: italic);
    font-size: 6.4rem;
    width: 260px;
    flex-shrink: 0;

    @include setting.sp-layout() {
      font-size: 3.6rem;
      text-align: center;
    }
  }

  .border {
    width: 1px;
    height: 120px;
    margin: 0 80px;
    background-color: map.get(setting.$color, "basic_text");

    @include setting.sp-layout() {
      height: 60px;
      margin: 40px 0;
    }
  }
  
  h2 {
    @include setting.font_zen_mincho();
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;

    @include setting.sp-layout() {
      font-size: 1.8rem;
    }
  }

  .copy {
    @include setting.font_garamond($style: italic);
    margin-bottom: 70px;
    letter-spacing: 0.2rem;

    @include setting.sp-layout() {
      font-size: 1.2rem;
    }
  }

  .description {
    line-height: 1.9;
    @include setting.font_zen_gothic();
    letter-spacing: 0rem;
  }
}
