@use "../../../setting/app" as global;
@use "sass:map";

@mixin app() {
  h2, p, button, a {
    text-shadow: 0px 0px 1.0rem map.get(global.$color, _white);
  }

  h2 {
    @include global.traijan();
    font-size: map.get(global.$fontSize, works-slider-head);
    font-weight: 300;
    white-space: nowrap;
    margin: 15px;

    @include global.tablet-layout() {
      font-size: map.get(global.$fontSize, tablet-works-slider-head);
      line-height: 0.5;
      margin: 15px 5px;
    }
  }

  .inner, .shadow {
    transform: rotate3d(-2, 5, 0, 9deg);
  }

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    transition: 1.2s;
  }

  .slide {
    @include global.tablet-layout() {
      display: inline-flex;
      flex-direction: column;
    }

    img, h2, p {
      pointer-events: none;
    }

    h2 {
      text-shadow: 0px 0px 1rem map.get(global.$color, _white), 0px 0px 1rem map.get(global.$color, _white);
    }

    p {
      white-space: nowrap;

      @include global.tablet-layout() {
        font-size: map.get(global.$fontSize, tablet-works-slider-p);
      }
    }

    img {
      border: 1px solid map.get(global.$color, _gray);
      border-radius: 5px;
      padding: 2px;
      opacity: .7;
      transition: 1.2s;

      @include global.tablet-layout() {
        opacity: 1;
      }
    }

    span {
      margin-right: 10px;
    }
  }

  .triggers {
    border-top: 2px solid map.get(global.$color, _white);
    margin-top: 20px;
    padding-top: 20px;

    @include global.tablet-layout() {
      border-top: 1px solid #ffffff;
      margin-top: 12px;
      padding-top: 10px;
    }

    button {
      transition: .5s;
      opacity: .7;
      text-shadow: none;
      @include global.traijan();
      font-weight: bold;
      font-size: map.get(global.$fontSize, works-slider-button);

      &:hover {
        text-shadow: 0 0 10px map.get(global.$color, _white);
        opacity: 1;
      }

      &.unactive {
        color: #555;

        &:hover {
          text-shadow: none;
        }
      }
    }
  }
}
