@use "../../setting/app" as global;
@use "sass:map";

.transition-loading {
  background-color: rgba(0,0,0,0);
  color: map.get(global.$color, _white);

  pointer-events: none;

  @include global.roboto();
  font-weight: 200;
  font-size: map.get(global.$fontSize, common-transition);
  white-space: break-spaces;
  text-shadow: 0 0 1.0rem map.get(global.$color, _white);

  letter-spacing: .1em;

  flex-direction: row;
  z-index: 3;
}

a.TRANSITION {
  text-decoration: none;
  display: inline-block;
  margin: 0;
}
