extends ../_layouts/_default.pug

block Setting
  -
    head.title = "OPENING";

block Styles
  style(type="text/css").
    html {
      background-color: #000;
    }

    body {
      background: none;
      background-color: #000;
    }

    .GLOBAL {
      transition: 1.2s;
    }

block Contents
  .screen
    p
  .launching
    h1 PROJECT TSUKASA TOMIOKA.
    p LAUNCHING
      span .
      span .
      span .
