extends ./_layouts/_default.pug
include ./_components/contents/_title-contents.pug
include ./_components/ui/_paginator.pug

block Setting 
  -
    STATUS.page = 'ABOUT'
    CLASS.body = 'ABOUT SINGLE'

block Contents 
  section.title 
    .inner
      h1 ABOUT
      .COMP-UI-scroll-navigation
        .arrow 
          span 
          span
  main
    section
      +title-contents({
        title: 'PROFILE',
        heading2: '冨岡 司 - WEB CREATOR',
        copy: 'TSUKASA TOMIOKA - WEB CREATOR',
        description: `
          ポートフォリオサイトをご閲覧くださりありがとうございます。
          <br><br>
          コーポレートサイト、リクルートサイト、商品・企画・イベントの告知サイトなどのブランディングサイト制作やLP制作を中心に、WEBクリエイティブにてお力添えさせていただいております。
          <br><br>
          単発のご制作や長期的な運用保守、既存ページのリニューアル等、ご相談内容に応じて柔軟にご制作いたしますので、お気軽にお声がけくださいませ。
        `
      })
    section
      +title-contents({
        title: 'MISSION',
        heading2: '変化を与え続ける、創り続ける、これからも',
        copy: 'I Will Keep Changing, Keep Creating',
        description: `
          クリエイティブでヒトの心に変化を与え続けることを使命に日々精進しています。クライアントのオーダーに対して期待以上に応えることはもちろん、制作物を通してエンドユーザーの心を揺さぶり、行動や心情に変化を起こすことを常に考えています。
        `
      })
    section
      +title-contents({
        title: 'POSITION',
        description: `
          〒103-0011<br>
          東京都中央区日本橋大伝馬町<br>
          Tokyo Chuoku Nihonbashi Odenmacho<br>
          <br>
          会議は基本的にリモートにて行っておりますが、必要に応じて直接お伺いしご挨拶やミーティングもさせていただいております。
        `
      })
  +paginator(['works', 'service', 'contact'])
