extends ./_layouts/_default.pug
include ./_components/ui/_paginator.pug

block Setting 
  -
    STATUS.page = 'CONTACT'
    CLASS.body = 'CONTACT SINGLE'

block Contents 
  section.title 
    .inner
      h1 CONTACT
      .COMP-UI-scroll-navigation
        .arrow 
          span 
          span
  main
    section
      .COMP-CONTENTS-title-contents 
        p.title MAIL
        .border
        .contents 
          h2 tsukasa.creator@gmail.com
          p.attention ご連絡から３営業日以内にはお返事させていただきます
  +paginator(['works', 'service', 'about'])
