extends ./_layouts/_default.pug

block Setting 
  -
    STATUS.page = 'CONTACT'
    CLASS.body = 'CONTACT SINGLE'

block Contents 
  #SCROLL_AREA
    section.title 
      .inner
        p CONTACT
        .COMP-UI-scroll-navigation
          .arrow 
            span 
            span
    section
      .COMP-COLUMN-title-contents 
        p.title MAIL
        .border
        .contents 
          h2 tsukasa.creator@gmail.com
          p.attention ご連絡から３営業日以内にはお返事させていただきます
