extends ./_layouts/_default.pug

block Setting 
  -
    STATUS.page = 'HOME'
    CLASS.body = 'HOME'

block Contents 
  h1 I Will<br>Keep Changing<br>Keep Creating
  p.copy 変化を与え続ける、創り続ける、これからも
  button.menu.CURSOR_HOVER.CURSOR_CLICK.MENU_BUTTON
    p OPEN MENU 
    .arrow
      div
  p.title WEB DESIGNER - TSUKASA TOMIOKA PORTFOLIO SITE.
