@use "../../settings/app" as global;

$duration: 0.7s;

@mixin fade() {
  .MODULES-modal {
    opacity: 0;
    transition: all $duration;
  }

  body.modal-open {
    .MODULES-modal {
      opacity: 1;
    }
  }
}

@mixin scaleup-to-bottom() {
  .MODULES-modal {
    opacity: 0;

    .modal-inner {
      height: 0%;
      transition: all $duration;
    }
  }

  body.modal-open {
    .MODULES-modal {
      opacity: 1;

      .modal-inner {
        height: 90%;

        @include global.sp-layout() {
          height: 96%;
        }
      }
    }
  }
}
