@use "../../settings/app" as global;
@use "sass:map";
@use "sass:math";

$modal-close-width: 50px;
$modal-close-height: 6.0rem;
$close-color: #ffffff;

@mixin wrap {
  .modal-wrap {
    width: 100%;
    height: 100%;
    // position
    position: relative;
    z-index: 1;
    // display
    display: flex;
    justify-content: center;
    align-items: flex-start;
    // function
    pointer-events: none;
  }
}

@mixin mask {
  .modal-mask {
    width: 100%;
    height: 100%;
    // position
    position: absolute;
    top: 0;
    left: 0;
    // skin
    background-color: rgba(60,60,60,.8);
    // function
    pointer-events: visible;
  }
}

@mixin inner {
  .modal-inner {
    width: 90%;
    height: 90%;
    margin-top: 1%;
    // position
    position: relative;
    // flex
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // function
    pointer-events: visible;
    overflow: hidden;
    // skin
    box-shadow: 0px 0px 100px #555;
    border: 1px solid #fff;
    border-radius: 10px;

    @include global.sp-layout() {
      width: 96%;
      height: 96%;
      margin-top: 1%;
    }
  }

  .modal-content {
    overflow-y: scroll;
    background-color: #000000;

    & > * {
      display: none;
    }
  }
}

@mixin close {
  .modal-trigger-close {
    height: $modal-close-height;
    width: $modal-close-width;
    padding: 0;
    // position
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1;
    // flex
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .close-button {
    width: 100%;
  }

  .line {
    display: block;
    width: 2px;
    height: $modal-close-height - 2.0rem;
    transform: rotate(45deg);
    // position
    position: absolute;
    top: 0;
    left: math.div($modal-close-width, 2) - 1px;
    // skin
    background-color: $close-color;

    &:last-child {
      transform: rotate(-45deg);
    }
  }

  .text {
    color: $close-color;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.6rem;
    margin-top: 3.0rem;
  }
}
