@use "../../settings/settings.scss" as setting;
@use "sass:map";

@mixin app() {

.work-item {
  width: 650px;
  transition: all map.get(setting.$values, "transition");

  @include setting.custom-works-item() {
    width: 100%;
  }

  > * {
    width: 100%;
  }

  .image {
    height: 345px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: map.get(setting.$values, "transition");

    @include setting.custom-works-item() {
      height: auto;
      width: 100%;
    }

    img {
      transition: map.get(setting.$values, "transition");
    }
  }


  &:hover {
    .image {
      opacity: 0.5;

      img {
        transform: scale(1.08);
      }
    }
  }

  .title_ja {
    font-size: 1.8rem;
    @include setting.font_zen_mincho();
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;

    @include setting.custom-works-item() {
      font-size: 1.4rem;
    }
  }

  .title_en {
    font-size: 1.4rem;
    @include setting.font_garamond($style: italic);
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;

    @include setting.custom-works-item() {
      font-size: 1.2rem;
    }
  }

  .category {
    display: flex;
    flex-wrap: wrap;

    p {
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
      @include setting.font_zen_gothic($weight: 500);
    }
  }
}

// ---------
// end mixin
}
