@use "../settings/settings" as setting;
@use "sass:map";

body.CONTACT {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 200px;

    @include setting.sp-layout() {
      height: auto;
      padding: 0 20px 150px;
    }

    &:last-child {
      padding: 0 50px;
      margin-bottom: 100px;

      @include setting.sp-layout() {
        padding: 0 20px;
        margin-bottom: 150px;
      }
    }
  }

  .attention {
    letter-spacing: 0.2rem;
  }
}
