@use "../settings/settings" as setting;
@use "sass:map";

body.HOME {
  #UI {
    #MENU {
      .contact {
        top: 45px;
      }
    }
  }

  #CONTENTS {
    > .inner {
      padding-bottom: 7%;
      padding-left: 53%;
      display: flex;
      justify-content: center;
      flex-direction: column;
  
      @include setting.sp-layout() {
        justify-content: flex-end;
        padding: 0 20px 100px;
      }
    }
    
    h1 {
      margin-bottom: 40px;
      line-height: 1.4;
      font-size: 8.2rem;
      @include setting.font_garamond();
      color: map.get(setting.$color, "basic_text");

      @include setting.sp-layout() {
        font-size: 11vw;
        letter-spacing: 0.4rem;
      }
    }
    
    .copy {
      @include setting.font_zen_mincho();
      font-size: 2.0rem;
      margin-bottom: 100px;
      
      @include setting.sp-layout() {
        font-size: 3.4vw;
        margin-bottom: 70px;
      }
    }

    .menu {
      background-color: map.get(setting.$color, "basic_text");
      width: 300px;
      height: 60px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 20px;

      @include setting.sp-layout() {
        width: 240px;
        height: 50px;
      }

      p {
        @include setting.font_garamond($weight: 600);
        color: map.get(setting.$color, "basic_base");
      }

      .arrow {
        height: 1px;
        width: 90px;
        background-color: map.get(setting.$color, "basic_base");
        margin-left: 10px;

        @include setting.sp-layout() {
          width: 75px;
        }
      }
    }

    .title {
      @include setting.font_garamond();
      position: absolute;
      bottom: 20px;
      font-size: 1.4rem;

      @include setting.sp-layout() {
        font-size: 1.0rem;
      }
    }
  }
}
