@use "../settings/settings" as setting;
@use "sass:map";

body.SINGLE { 
  #UI {
    #MENU {
      padding: 30px 100px 15px;

      @include setting.sp-layout() {
        padding: 20px;
      }

      .button {
        top: 30px;

        @include setting.sp-layout() {
          top: 15px;
        }
      }

      .title {
        bottom: 15px;
        left: 100px;
        right: unset;
        text-align: left;

        @include setting.sp-layout() {
          left: unset;
          right: 20px;
          text-align: right;
        }
      }
    }
  }

  #STAGE {
    #AREA, .mask {
      opacity: 0;
      display: none;
    }

    .movie {
      opacity: 1;
    }
  }

  #CONTENTS > .inner {
    height: 80%;
    max-width: 1440px;
    margin: 0 50px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 70px #333;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 0;
        
    @include setting.sp-layout() {
      margin: 0 12px;
      margin-top: 60px;
      border-radius: 4px;
      box-shadow: 0 0 30px #333;
    }
  }

  #GLOBAL_WRAP {
    overflow: visible;
  }

  #SCROLL_AREA {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    @include setting.scrollbar-none();
    transition: all map.get(setting.$values, "transition");
  }

  section {
    width: 100%;
    padding: 0 50px;
    
    @include setting.sp-layout() {
      padding: 0 20px;
      margin-bottom: 100px;        
    }
    
    &.title {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include setting.sp-layout() {
        margin-bottom: 0;  
      }
      
      p {
        font-size: 14.0rem;
        @include setting.font_garamond($style: italic);
        
        @include setting.sp-layout() {
          font-size: 7rem;
        }
      }
    }

    .inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }
  }
}
