@use "../../setting/app" as global;
@use "./modal/app" as modal;
@use "./slider/app" as slider;
@use "./ui/app" as ui;

@mixin app() {
  .MODULES-modal {
    @include ui.scroll();
    @include modal.app();
    section {
      margin-bottom: 18.0rem;
    }
  }

  .MODULES-slider {
    position: absolute;
    top: 20%;
    left: 10%;
    perspective: 470px;
    perspective-origin: 40% 60%;
    transition: 1.2s;
    opacity: 0;

    @include global.tablet-wide-layout() {
      top: 11%;
    }

    @include slider.app();
  }
}
