@use "../../../setting/app" as global;
@use "sass:map";

@mixin app() {
  .menu {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 1.5s;
    background-color: rgba(255,255,255,.5);
    display: none;
    opacity: 0;

    p, a, span, small {
      color: map.get(global.$color, _black);
      text-shadow: 0 0 10px map.get(global.$color, _white);
      @include global.traijan();
    }
  }

  .contents {
    position: absolute;
    top: 4rem;
    left: 8rem;
    width: 100%;
  }

  .descriptions {
    margin-bottom: 5rem;

    p {
      font-size: 4rem;
      font-weight: 300;
    }
  }

  small {
    font-size: 1.3rem;
    line-height: 2.0;
  }


  .links {
    margin-left: 3rem;

    a {
      display: inline-flex;
      align-items: center;
      margin-bottom: 2rem;
      text-decoration: none;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        opacity: .5;
      }
    }

    img {
      width: 6rem;
      margin-right: 4rem;
    }

    span {
      font-weight: 400;
      font-size: 1.6rem;
    }
  }

  ul {
    display: flex;
    position: absolute;
    bottom: 5.0rem;
    left: 8.0rem;

    a {
      font-size: 7.0rem;
      font-weight: 300;

      &:hover {
        opacity: .5;
      }

      @include global.tablet-layout() {
        font-size: 5.5rem;
      }
    }
  }

  li {
    margin-right: 7rem;
    position: relative;

    @include global.tablet-layout() {
      margin-right: 5.0rem;
    }
  }

  li span {
    display: block;
    width: 100%;
    height: 1.0rem;
    // position
    position: absolute;
    top: 50%;
    left: 0;
    // skin
    background-color: map.get(global.$color, main);
    opacity: 0;
    // function
    pointer-events: none;
    transition: .7s;
  }

  li.active {
    pointer-events: none;

    * {
      pointer-events: none !important;
    }

    span {
      opacity: 1;
    }
  }

  li:last-child {
    margin-right: 0;
  }
}
