@use "../settings/app" as global;

.column_2 * {
  display: inline-block;
  width: 47.5%;
  margin-right: 5%;
  margin-bottom: 2%;

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.column_3 {
  display: inline-block;
  width: 30%;
  margin-right: 5%;
  margin-bottom: 2%;

  &:nth-child(3n) {
    margin-right: 0;
  }

  @include global.sp-layout() {
    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(3n) {
      margin-right: 5%;
    }
  }
}

.column_4 {
  display: inline-block;
  width: 21.25%;
  margin-right: 5%;
  margin-bottom: 2%;

  &:nth-child(4n) {
    margin-right: 0;
  }

  @include global.sp-layout() {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
