@mixin color($color) {
  color: $color;
}

/* =======================
 device
======================= */

@mixin pc-layout ($width: 769px) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin tablet-wide-layout ($width: 1366px) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin tablet-layout ($width: 1024px) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin mini-layout ($width: 600px) {
  @media screen and (max-width: $width) {
    @content;
  }
}

/* =======================
 animation
======================= */

@mixin animation(
	$name,                        // キーフレームの名前
	$duration:          1s,       // かかる時間
	$timing-function:   ease,     // 速度
	$delay:             0s,       // 何秒後に開始するか
	$iteration-count:   1,        // 回数・ループ指定
	$direction:         normal,   // 再生する方向
	$fill-mode:         forwards, // アニメーション前後のプロパティの状態
	$play-state:        running   // 一時停止・再生の指定
) {
	animation: {
		name:               $name;
		duration:           $duration;
		timing-function:    $timing-function;
		delay:              $delay;
		iteration-count:    $iteration-count;
		direction:          $direction;
		fill-mode:          $fill-mode;
		play-state:         $play-state;
	}
}
