style(type="text/css").
  .flow h3 {
    align-items: flex-start;
  }
  .flow h3:after {
    content: none;
  }
  .flow ul {
    margin-left: 3.0rem;
  }

section
  .h2
    .decoration ABOUT
    h2
      span -
      |仕事概要
  article
    img(src="../assets/images/works/direction/lions.png")
    p プロ野球公式サイトの運用保守ディレクターとして貢献。計5人体制のマークアップチームのリーダーとして活躍。
    ul
      li 特設サイト制作のための実装ディレクション
      li 運用保守のためのクライアントとのタスクのやり取り
      li メンバーがストレスなく保守できるよう環境設備
    p 状況に合わせてディレクターから制作まで、柔軟に動いた。
section.flow
  .h2
    .decoration FLOW
    h2
      span -
      |プロジェクトフロー
  article
    p.margin_bottom_3rem スタート時期から約2年間に渡って歩んできたフローをまとめる。
    .margin_bottom_3rem
      h4 STEP1:運⽤に参画
      ul
        li Backlog などの既存の運⽤環境にジョイン
        li 保守環境の設備（Github, Gulp など）
        li 保守⼈員の確保（初期は 3 ⼈体制）
    .margin_bottom_3rem
      h4 STEP2:運⽤の改善
      ul
        li 運⽤マニュアルの作成
        li 保守環境の効率化
        li クライアントのご指⽰のルール化
    .margin_bottom_3rem
      h4 STEP3:人員育成
      ul
        li ⼦会社が設⽴されメンバーの育成を担当
        li メンバー業務効率の改善（スニペット実装）
        li ⼈員スケジュール管理
    .margin_bottom_3rem
      h4 STEP4:ディレクション+制作
      ul
        li 特設サイトやページの制作
        li 実装メンバー制作ディレクション
        li 運⽤保守ディレクション
section
  .h2
    .decoration MAINTE
    h2
      span -
      |保守の問題解決
  article
    img(src="../assets/images/works/direction/maintenance.png")
    p 1日に約3件のニュースを公開していくほど更新頻度が高く、運用保守していく中で問題点があった。
    ul
      li ファイル数が増えるほどに開発環境のパフォーマンスが低下
      li 効率の良い制作方法が担当者の経験や慣れに依存
    p 当プロジェクトに参画後、これらの問題を相談を重ねて解決。
    ul
      li 制作に必要なファイルだけを処理対象にできるように環境設備
      li 誰でも効率よく制作できるように、エディタに再利用可能なテンプレコードを登録
    p 保守運用する中では「拡張性・再利用性・可動性」の良い選択をできるよう、メンバーともノウハウを共有していった。
section
  .h2
    .decoration THANKS
    h2
      span -
      |「THANKS FESTA」特設サイト制作
  article
    img.margin_bottom_0rem(src="../assets/images/works/mv/lions_thanks.png")
    a.align_right(href="https://www.seibulions.jp/special/thanks/" target="_blank") サイトへ移動する
    .margin_bottom_10rem
      h3 プロジェクト概要
      p 毎年開催されるライオンズからファンに向けた感謝の気持ちをこめたイベント「LIONS THANKS FESTA」。
      p 2021年の開催に伴って、オリジナルの特設サイトの制作ディレクションを担当。
      p 当プロジェクトは短期間で実装する必要があったため、いかにメンバーに負荷をかけないように設計〜実装するか⼯夫を凝らした。
    h3 プロジェクトフロー
    .margin_bottom_3rem
      h4 STEP1:⼈員/費⽤確保
      p
        |スケジュールが短く⽉々の保守費⽤内で対応させて頂く必要があった。
        br
        |追加費⽤の調整に加え、メンバーにヒアリングを⾏い、⼈員確保に努めた。
    .margin_bottom_3rem
      h4 STEP2:実装準備
      ul
        li メンバーが理解している「テンプレートエンジン EJS」の採⽤
        li サイトをコンポーネント設計しスマートな役割分担を実現
        li Githubを活⽤しメンバー⽤のタスクを準備
    .margin_bottom_3rem
      h4 STEP3:実装ディレクション
      ul
        li 環境構築
        li メンバーの技術フォロー
        li クライアントとメンバーの進捗管理
    .margin_bottom_3rem
      h4 STEP4:コンテンツ追加/保守
      p 当サイトは1ヶ月間に渡って、計5回に分けて公開していく必要があった。
      p 修正ご依頼を対応しながらも、次の公開に向けて実装を進める必要があったため、Githubを活用したタスク管理に注力した。
section
  .h2
    .decoration KIMETSU
    h2
      span -
      |鬼滅の刃/特設ページ制作
  article
    img.margin_bottom_0rem(src="../assets/images/works/mv/lions_kimetsu.png")
    a.align_right(href="https://www.seibulions.jp/special/kimetsu/" target="_blank") サイトへ移動する
    p 制作を通して、メンバーにLP実装のレクチャーも行った。
    p モーダルやスムーススクロールなど、Webサイトの基本的な機能を自前で制作して資産とする事で、生産性を向上...
    p このようなノウハウを実際の仕事を通して伝え、メンバーの能力向上に努めた。
