section
  .h2
    .decoration ABOUT
    h2.vdl
      span.traijan -
      |仕事概要
  article
    img(src="../assets/images/works/direction/lions.png")
    p プロ野球公式サイトの運用保守ディレクターとして貢献。計5人体制のマークアップチームのリーダーとして活躍。
    ul
      li 特設サイト制作のための実装ディレクション
      li 運用保守のためのクライアントとのタスクのやり取り
      li メンバーがストレスなく保守できるよう環境設備
    p 状況に合わせてディレクターから制作まで、柔軟に動いた。
section
  .h2
    .decoration MAINTE
    h2.vdl
      span.traijan -
      |保守の問題解決
  article
    img(src="../assets/images/works/direction/maintenance.png")
    p 1日に約3件のニュースを公開していくほど更新頻度が高く、運用保守していく中で問題点があった。
    ul
      li ファイル数が増えるほどに開発環境のパフォーマンスが低下
      li 効率の良い制作方法が担当者の経験や慣れに依存
    p 当プロジェクトに参画後、これらの問題を相談を重ねて解決。
    ul
      li 制作に必要なファイルだけを処理対象にできるように環境設備
      li 誰でも効率よく制作できるように、エディタに再利用可能なテンプレコードを登録
    p 保守運用する中では「拡張性・再利用性・可動性」の良い選択をできるよう、メンバーともノウハウを共有していった。
section
  .h2
    .decoration KIMETSU
    h2.vdl
      span.traijan -
      |鬼滅の刃|特設ページ制作
  article
    img.margin_bottom_0rem(src="../assets/images/works/mv/lions_kimetsu.png")
    a.align_right(href="https://www.seibulions.jp/special/kimetsu" target="_blank") サイトへ移動する
    p 制作を通して、メンバーにLP実装のレクチャーも行った。
    p モーダルやスムーススクロールなど、Webサイトの基本的な機能を自前で制作して資産とする事で、生産性を向上...
    p このようなノウハウを実際の仕事を通して伝え、メンバーの能力向上に努めた。
