section
  .h2
    .decoration ABOUT
    h2.vdl
      span.traijan -
      |制作概要
  article
    p ライオンズ70周年の記念に、より多くのファンへ「LIONS」を届けるためにチームで制作した特設サイト。
    p プロジェクトマネージャー、デザイナー、フロント実装の3人体制で取り掛かった。
    p 約半年間に渡って保守運用する特設サイトになり、試合チケット販売促進やグッズ販売促進も含め、埼玉西武ライオンズ様の促進に貢献させていただくことができました。
section
  .h2
    .decoration POINT
    h2.vdl
      span.traijan -
      |実装面で特に貢献したポイント
  article
    p 当サイトは長い期間メンバー体制で運用する必要があったため、制作後の保守制の向上を特に心がけました。
    p 「更新箇所はjsonデータで一括管理」「実装ライブラリを知らない人でも更新できるようドキュメント化」するなど工夫を凝らした。
    p 制作前に保守メンバーのマークアップスキルや、利用可能言語やライブラリをよく理解することで、メンバーにとってストレスのない体制に整えることができました。
