section
  .h2
    .decoration HEARING
    h2.vdl
      span.traijan -
      |制作ヒアリング
  article
    img(src="../assets/images/concept/hearing.png")
    p 冨岡司はいま何をしていて、何を想って、どこに向かいたいか...制作前にクライアントの思考をドキュメントに整理。
    p 今回のポートフォリオ制作を通して、少しでも目的に近づいて、マインドを起こせられるように、サイトコンセプトを定める。
    p また、純粋に好きな色合いや雰囲気や感覚といったその人の「SENCE」も整理し、Webデザインコンセプトに活かした。
section
  .h2
    .decoration CONCEPT
    h2.vdl
      span.traijan -
      |サイトコンセプト
  article
    h3 「想い・実績・創造力」を吹き込む
    p 「無限大な創造力でヒトの心を揺さぶること」この昔からの冨岡司の純粋な想いと「仕事の実績」を伝えることが目的。
    p 脳に広がる創造力を表現するため、ヒトの創造力のように無限に広がり続ける"宇宙"をサイトに取り入れる。
    p 見た人があっと驚く宇宙のようなスケール感も与えつつ、昔からの想いを馳せるノスタルジックでどこかボンヤリとした幻想的な世界観を表現。
section
  .h2
    .decoration DESIGN
    h2.vdl
      span.traijan -
      |WEBデザインコンセプト
  .margin_bottom_5rem
    p.big ノスタルジック・幻想的・スケール感
  article
    h3 FONTS CONCEPT
    .margin_bottom_5rem
      p.big Traijan
      .column_2
        img(src="../assets/images/concept/font/traijan_01.png")
        img(src="../assets/images/concept/font/traijan_02.png")
      .column_2.margin_bottom_2rem
        img(src="../assets/images/concept/font/traijan_03.png")
        img(src="../assets/images/concept/font/traijan_04.png")
      p 句碑に刻まれた書体デザインをコンピュータ上で復刻したTraijanフォントをメインフォントとして採用。
      p 洗練された雰囲気と広い空間に佇むスケール感も演出する。
      p さらに、句碑の文字から受け取れられる歴史感から、ノスタルジックさも表現。
    .margin_bottom_10rem
      p.big VDL ペンジェントル
      .column_2.margin_bottom_2rem
        img(src="../assets/images/concept/font/vdl_01.png")
        img(src="../assets/images/concept/font/vdl_02.png")
      p メインフォント以外の説明のためのテキストや日本語には、『凛々しく気品あるペン書』をコンセプトに生まれた「VDL ペンジェントル」を使用。
      p 洗練された手書き感のあるこのフォントも同じく、コンセプトを表現するために活用。
    h3 COLOR CONCEPT
    img.margin_bottom_3rem(src="../assets/images/concept/color/AdobeColor.png")
    p メインカラーには、暖色と寒色の二面性を持ち、周囲の雰囲気によってもイメージが左右される紫を採用。
    p 揺さぶられるヒトの心やヒトの創造力、そういった捉え難い様々な局面を持つ宇宙のような雰囲気ともマッチさせることができる。
    p ベースカラーには黒色を採用。宇宙の雰囲気を損なわせないように、色を出さない神秘性も与えられる黒色をモーダルの背景色などに使用。
section
  .h2
    .decoration PROGRAM
    h2.vdl
      span.traijan -
      |Webサイト実装
  article
    img(src="../assets/images/works/portfolio/program.png")
    p 制作ヒアリングの「AIM」に取り上げていた「技術力向上」を図るため、SliderやModalの基本ライブラリからSPA実装まで全ソースを自作。
    p この機会に時間をかけて仕組みを考えることで、「今後の制作力向上」や「仲間に対する手助け」に繋がる。
    p 自分のキャリアの大切な資産となるソースにすることができた。
    a.icon_link.CURSOR--hover.CURSOR--click(href="https://github.com/Tsukasa-di/portfolio_public" target="_blank")
      img(src="../assets/images/icons/github.png")
      span THIS SITE GITHUB PAGE
