include ../../templates/_components/works/_work-title.pug
include ../../templates/_components/works/_work-mv.pug

mixin modal-works-yachiyo(work)
  .modal(id=work.id)
    +work-title(work)
    section 
      +work-mv(work)
      article 
        p 
          | 企業に在籍しながら、八千代リハビリテーション学院様の年度更新を2022年11月から2023年3月末までWEBディレクターとして貢献させていただきました。
          <br><br>
          | 担当範囲としては、更新ページ / 改修ページ / 新規ページの洗い出しから参画し、スケジュール組みからWEBデザイン / コーディングそれぞれのディレクションまで担当させていただきました。
          <br><br>
          | プロジェクトメンバーは、営業 / デザイナー3名 / マーケター / 私を含めた6人体制。広告と連動した各ページ構成案作成など、常にメンバーと協力しながらお客様の期待を越えられるよう努めてまいりました。
      article 
        h3 改修した4ページのWEB制作ディレクション
        img(src="assets/images/works/works_yachiyo_top_main.png")
        img(src="assets/images/works/works_yachiyo_oc_main.png")
        ul
          li トップページ
          li オープンキャンパスページ
          li 8つの強みページ
          li 施設・設備ページ
        p
          | 上記4ページ分のWEB制作ディレクションをご担当いたしました。
          <br><br>
          | 公式サイトの顔となるトップページは、クライアントの特徴を熟知している営業と相談の上、「医療に関わる専門学校としての確からしさ」「生徒達の寄り添い想いやる姿」この2軸をコンセプトに改修いたしました。
          <br><br>
          | コンセプトをデザインに落とし込むためにデザイナーと擦り合わせ、整頓され空間に広がりのあるレイアウトやカラー設計で「確からしさ」を表現し、要素の重なりやグラデーションのあしらいで「寄り添い想いやる姿」を表現しました。
          <br><br>
          | 学生募集の主軸となるオープンキャンパスページでは、トップページのトーン・マナーとは別軸に考えています。
          <br><br>
          | クライアントの学生の和気藹々と仲良く寄り添うイメージを出すために、イラストを取り入れたポップな印象に仕上げました。
