include ../../templates/_components/works/_work-title.pug
include ../../templates/_components/works/_work-mv.pug

mixin modal-works-international-student(work)
  .modal(id=work.id)
    +work-title(work)
    section 
      +work-mv(work)
      article 
        p 
          | 留学生向けの日本語育成をメインに行う「東洋言語学院様」のオンラインクラス告知LPを担当させていただきました。
          <br><br>
          | デザインでキーポイントとなったのは「来日して学びたくなるような日本らしさ」「他国の人が好むデザイン」の2軸でした。
          <br><br>
          | 相反する2軸のように思えますが、「あしらいや日本語を基調としたフォント選定」「在校生の外国人に実際に調査した好まれる色遣い」この2点を意識して、制作することができました。
