include ../../templates/_components/works/_work-title.pug
include ../../templates/_components/works/_work-mv.pug

mixin modal-works-tosuigei(work)
  .modal(id=work.id)
    +work-title(work)
    section 
      +work-mv(work)
      article 
        p 
          | 「空間に陶酔する、特別な鮨の体験を」をコンセプトとする鮨処の公式サイトを制作させていただきました。一つひとつデザインコンセプトが設けられた食事スペースは、幻想的で芸術的な空間となっており、思わず酔いしれてしまうその空間で特別な鮨の体験ができるお店となっています。
          <br><br>
          | そんな特別な空間を美しく魅せるために、黒のベースカラーに神秘的な印象を与えられるカラーやレイアウトを組みました。
          <br><br>
          | 陶酔鮨の彩る和食は他とは一線を画すものだということをユーザーに伝えるため、全体の雰囲気づくりに力を入れたデザインとなっています。
        .UTLT-links
          a.UTLT-link.CURSOR_HOVER(href="https://xd.adobe.com/view/82395593-3fb1-4102-9b2e-e2ad812bc7ce-d76a/" target="_blank") デザイン定義書
      article 
        img(src="../assets/images/works/works_tosuigei_pickup_lead.png") 
        img(src="../assets/images/works/works_tosuigei_pickup_space.png") 
        img(src="../assets/images/works/works_tosuigei_pickup_instagram.png") 
