//- Global site tag (gtag.js) - Google Analytics
script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-125638424-2")
script
  |window.dataLayer = window.dataLayer || [];
  |function gtag(){dataLayer.push(arguments);}
  |gtag('js', new Date());
  |
  |gtag('config', 'UA-125638424-2');
//- Global site tag (gtag.js) - Google Ads: 664431931
script(async, src="https://www.googletagmanager.com/gtag/js?id=AW-664431931")
script
  |window.dataLayer = window.dataLayer || [];
  |function gtag(){dataLayer.push(arguments);}
  |gtag('js', new Date());
  |
  |gtag('config', 'AW-664431931');
