mixin meta(head)
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title #{head.title === "HOME" ? "TSUKASA TOMIOKA PORTFOLIO SITE." : head.title + " / TSUKASA TOMIOKA PORTFOLIO SITE."}
  //- Open Graph Protcol
  meta(property="og:url", content="https://tsukasa-tomioka-portfolio.com")
  meta(property="og:type", content=head.title === "HOME" ? "website" : "article")
  meta(property="og:title", content="冨岡司/ポートフォリオサイト")
  meta(property="og:description", content="「ヒトの心を揺さぶる」をVisionに活動するWebCreator「冨岡司」のポートフォリオサイト。WebサイトのFront実装、運用保守ディレクターとして貢献。ヒトの心が揺さぶられるような、Webのユニークな表現を日々追い続けています。")
  meta(property="og:site_name", content="TSUKASA TOMIOKA PORTFOLIO SITE.")
  meta(property="og:image", content="https://tsukasa-tomioka-portfolio.com/assets/ogimage.png")
