mixin ui(paths)
  article.MODULES-swiper
    p
      |SWIPE UP ↑
      br
      span FULL SCREEN
  article.UI
    .MODULES-menu
      .button.CURSOR--hover.CURSOR--click
        .lines
          span
          span
        p.text MENU
      .menu
        .contents
          .descriptions
            p TSUKASA TOMIOKA PORTFOLIO SITE.
            small COPYRIGHT ©️ TSUKASA TOMIOKA ALL RIGHTS RESERVED.
          .links
            a.CURSOR--hover.CURSOR--click(href="https://twitter.com/Tsukasa_Creator" target="_blank")
              img(src=paths.root + "/assets/images/icons/twitter.png")
              span BUSINESS ACCOUNT : @Tsukasa_Creator
            br
            a.CURSOR--hover.CURSOR--click(href="https://github.com/Tsukasa-di/portfolio_public" target="_blank")
              img(src=paths.root + "/assets/images/icons/github.png")
              span THIS SITE GITHUB PAGE
        ul
          li.home
            a.TRANSITION.CURSOR--hover(data-link="/") - HOME
            span
          li.about
            a.TRANSITION.CURSOR--hover(data-link="/about") - ABOUT
            span
          li.works
            a.TRANSITION.CURSOR--hover(data-link="/works") - WORKS
            span
    .MODULES-screen_checker
      img(
        src=paths.root + "/assets/images/ui/screen-checker.png"
      )
      p PLEASE ROTATE YOUR DEVICE SIDEWAY.
      br
      span ※ブラウザアプリでお開き下さい。
    .MODULES-cursor
      .cursor
        .type
          p
        .pointer-wrap
          .pointer
