@use "../../setting/app" as global;
@use "sass:map";

@mixin app() {
  .MODULES-scroll {
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;

    p {
      margin-bottom: 10px;
    }

    .decoration {
      width: 0.5rem;
      height: 20.0rem;
      background-color: map.get(global.$color, _gray);
      position: relative;

      span {
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 0%;
        background-color: map.get(global.$color, _white);

        @include global.animation(
          $name:              scroll,   // キーフレームの名前
          $duration:          5s,       // かかる時間
          $timing-function:   linear,     // 速度
          $delay:             0s,       // 何秒後に開始するか
          $iteration-count:   infinite,        // 回数・ループ指定
          $direction:         normal,   // 再生する方向
          $fill-mode:         forwards, // アニメーション前後のプロパティの状態
          $play-state:        running   // 一時停止・再生の指定
        )
      }
    }
  }

  @keyframes scroll {
    0% {
      top: 0%;
      height: 0%;
    }

    20% {
      top: 0%;
      height: 50%;
    }

    40% {
      top: 50%;
      height: 50%;
    }

    60% {
      top: 100%;
      height: 0%;
    }
  }
}
