@use "../../settings/settings.scss" as setting;
@use "sass:map";

@mixin opened($name) {
  ##{$name} {
    opacity: 1;
    pointer-events: visible;

    > .inner, > .mask {
      opacity: 1;
      pointer-events: visible;
    }

    .button {
      opacity: 1;
    }
  }

  #GLOBAL_WRAP, #BG {
    transform: scale(0.8);
    pointer-events: none;

    * {
      pointer-events: none;
    }
  }

  #BG {
    .mask-right {
      backdrop-filter: hue-rotate(0deg) contrast(1);
      opacity: 0;
    }
  }
  
  #STAGE {
    opacity: 1;
  } 

  &.SINGLE #STAGE {
    opacity: 0.7;
  }
}

@mixin app() {

body.STATUS_MENU_OPEN {
  @include opened($name: "MENU");
}

body.STATUS_MODAL_OPEN {
  @include opened($name: "MODAL");

  #MENU .contact, #MENU .sound {
    opacity: 0.1;
  }

  #CONTENTS {
    filter: blur(5px) grayscale(100%) brightness(0.2);
  }

  &.SINGLE #STAGE {
    opacity: 0.1;
  }
}

body.STATUS_MENU_OPEN {
  #UI > #MENU > .button span {
    top: 6px;
    left: 7px;
    transform: rotate(45deg);
    width: 35px;

    @include setting.sp-layout() {
      width: 30px;
      top: 5px;
    }

    &:last-child {
      transform: rotate(-45deg);
      width: 35px;

      @include setting.sp-layout() {
        width: 30px;
      }
    }
  }
}

body.HOME {
  #UI > #MENU > .button, 
  #UI > #MENU > .title, 
  #UI > #MENU > .contact,
  #UI > #MENU > .sound
  {
    opacity: 0;
  }
}

body.HOME.STATUS_MENU_OPEN {
  #UI > #MENU > .button, 
  #UI > #MENU > .title, 
  #UI > #MENU > .contact,
  #UI > #MENU > .sound
  {
    opacity: 1;
  }
}

body.SOUND_ON {
  #UI > #MENU > .sound {
    .sound-on {
      opacity: 1;
    }

    .sound-off {
      opacity: 0;
      pointer-events: none;
    }
  }
}

body.SOUND_OFF {
  #UI > #MENU > .sound {
    .sound-off {
      opacity: 1;
    }

    .sound-on {
      opacity: 0;
      pointer-events: none;
    }
  }
}

// ---------
// end mixin
}
