@use "../settings/settings.scss" as setting;
@use "sass:map";

#OPENING {
  @include setting.fullscreen();
  z-index: 99;
  background-color: map.get(setting.$color, "basic_base");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include setting.sp-layout() {
    padding: 0 20px;
  }

  .hello {
    line-height: 1.5;
    color: map.get(setting.$color, "basic_text");
    letter-spacing: 0.6rem;
    font-size: 4vw;
    margin: 30px 0 30px 20px;
    @include setting.font_garamond($weight: 100, $style: italic);

    @include setting.sp-layout() {
      margin: 0 0 25px 0;
      font-size: 8vw;
      line-height: 1.0;
    }
  }

  .button {
    width: 100%;
    letter-spacing: 0.2rem;
    color: map.get(setting.$color, "basic_text");
    @include setting.font_garamond($weight: 700);
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: entry;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: map.get(setting.$values, "transition");

    @include setting.sp-layout() {
      width: auto;
      flex-direction: column-reverse;
      border-bottom: 1px solid map.get(setting.$color, "basic_text");
      padding: 0 15px 10px 15px;
    }
    
    .border {
      width: 30px;
      height: 1px;
      margin-top: 20px;
      background-color: map.get(setting.$color, "basic_text");
      transition: map.get(setting.$values, "transition");

      @include setting.sp-layout() {
        display: none;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      font-size: 2.0rem;
      @include setting.font_garamond();

      @include setting.multi-device-layout() {
        font-size: 1.8rem;
      }

      @include setting.sp-layout() {
        font-size: 1.2rem;
        margin-bottom: 0px;
        flex-direction: row;
      }

      span {
        display: inline-block;
      }
    }

    &:hover {
      animation-play-state: paused;
      opacity: 1 !important;

      .border {
        width: 100%;
      }
    }
  }
}

@keyframes entry {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1.0;
  }
}
