mixin menu() 
  #MENU
    p.link.contact.CURSOR_HOVER.CURSOR_CLICK.PAGE_CHANGER(data-page="contact")
      | CONTACT 
      span
    .button.MENU_BUTTON.CURSOR_HOVER.CURSOR_CLICK
      .inner
        span 
        span
    p.title WEB DESIGNER - TSUKASA TOMIOKA PORTFOLIO SITE.
    .mask
    .inner 
      .list 
        p.link.CURSOR_HOVER.CURSOR_CLICK.PAGE_CHANGER(data-page="home") 
          | HOME
          span
        br
        p.link.CURSOR_HOVER.CURSOR_CLICK.PAGE_CHANGER(data-page="about")
          | ABOUT
          span
        br
        p.link.CURSOR_HOVER.CURSOR_CLICK.PAGE_CHANGER(data-page="works")
          | WORKS
          span
        br
        p.link.CURSOR_HOVER.CURSOR_CLICK.PAGE_CHANGER.sp-only(data-page="contact")
          | CONTACT
          span
      .sns 
        div.icon.twitter 
        div.icon.github
      .copy 
        p.en I Will<br>Keep Changing<br>Keep Creating
        p.ja 変化を与え続ける、創り続ける、これからも
