mixin menu() 
  #MENU
    .sound
      .inner 
        button.sound-on.CURSOR_HOVER.CURSOR_CLICK(data-sound="on")
          img(src="./assets/images/ui/sound-on.png")
        button.sound-off.CURSOR_HOVER.CURSOR_CLICK(data-sound="off")
          img(src="./assets/images/ui/sound-off.png") 
    p.contact.CURSOR_HOVER.CURSOR_CLICK.PAGE_CHANGER(data-page="contact")
      | CONTACT 
    .button.MENU_BUTTON.CURSOR_HOVER.CURSOR_CLICK
      .inner
        span 
        span
    p.title WEB CREATOR - TSUKASA TOMIOKA PORTFOLIO SITE.
    .mask
    .inner 
      .list 
        p.CURSOR_HOVER.CURSOR_CLICK.PAGE_CHANGER(data-page="home") 
          | HOME
        br
        p.CURSOR_HOVER.CURSOR_CLICK.PAGE_CHANGER(data-page="about")
          | ABOUT
        br
        p.CURSOR_HOVER.CURSOR_CLICK.PAGE_CHANGER(data-page="works")
          | WORKS
        br
        p.CURSOR_HOVER.CURSOR_CLICK.PAGE_CHANGER(data-page="service")
          | SERVICE
        br
        p.CURSOR_HOVER.CURSOR_CLICK.PAGE_CHANGER.sp-only(data-page="contact")
          | CONTACT
      .sns 
        div.icon.twitter 
        div.icon.github
      .copy 
        p.en I Will<br>Keep Changing<br>Keep Creating
        p.ja 変化を与え続ける、創り続ける、これからも
