include ../../../contents/_modal-works.pug

mixin modal(page)
  #MODAL 
    .button.MODAL_BUTTON.CURSOR_HOVER.CURSOR_CLICK
      .inner
        span 
        span
    .mask
    .inner 
      if page == 'works'
        +modal-works()
