@use "../../setting/app" as global;
@use "sass:map";

@mixin opening() {
  .opening {
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;

    transition: 1.2s;

    p {
      @include global.traijan();
      color: map.get(global.$color, _white);
      font-weight: 200;
      font-size: map.get(global.$fontSize, home-opening);
      white-space: break-spaces;
      text-shadow: 0 0 1.0rem map.get(global.$color, _white), 0 0 1.0rem map.get(global.$color, _white);
      letter-spacing: .1em;

      position: relative;
    }
  }
}
