@use "../../setting/app" as global;
@use "sass:map";

@mixin ui() {
  .ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .select-menu {
    .inner {
      position: relative;
      width: 120px;
      height: 70vh;

      @include global.tablet-layout() {
        width: 75px;
      }
    }

    p {
      position: absolute;
      top: 5%;
      left: -260%;
      font-size: 3.55rem;
      // font
      @include global.traijan();
      white-space: pre;
      letter-spacing: 1rem;
      font-size: map.get(global.$fontSize, home-select_menu);
      font-weight: 100;
      text-shadow: 0 0 1.0rem map.get(global.$color, _white), 0 0 1.0rem map.get(global.$color, _white);
      // transform
      transform: rotate(-87deg);
      transform-origin: top right;

      @include global.tablet-wide-layout() {
        left: -200%;
      }

      @include global.tablet-layout() {
        left: -260%;
      }
    }
  }

  .menu {
    // constructor
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    z-index: 9;
    // font
    opacity: .7;
    color: map.get(global.$color, _white);
    text-shadow: 0 0 30px map.get(global.$color, _white), 0 0 30px map.get(global.$color, _white);

    ul {
      margin-top: 2.5%;

      @include global.tablet-layout() {
        margin-top: 2%;
      }
    }

    li {
      margin-bottom: 20px;
    }

    a {
      @include global.traijan();
      letter-spacing: 0.6rem;
      font-size: map.get(global.$fontSize, home-menu);
      font-weight: 100;
      white-space: nowrap;
      text-shadow: 0 0 1.0rem map.get(global.$color, _white), 0 0 1.0rem map.get(global.$color, _white);

      &:hover {
        color: map.get(global.$color, _white);
      }
    }
  }
}
