include ./_components/_slide.pug

.MODULES-slider
  .shadow
  .inner
    .slider-wrap
      .slider-inner
        each work in global.works
          +slide(
            "../assets/images/works/mv/" + work.mv,
            work.title,
            work.id
          )
            each item in work.info
              p
                span.traijan -
                |#{item}
    .triggers
      button.prev.trigger.CURSOR--hover.CURSOR--click ← PREV
      button.next.trigger.CURSOR--hover.CURSOR--click NEXT →
